<!DOCTYPE html>
<html lang="cz">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styl.css" type="text/css" />
    <meta charset="UTF-8">
    <title>Chyba 400</title>
</head>
<body>
<header>
    <h1>POROVNÁVAČ ČÍSEL</h1>
</header>
    <section>
        <h2>Chyba 400</h2><h4>Špatné zadání</h4><br>
        <p>Zadejte prosím čísla</p>
        <a class="porovnej" href="/porovnavac">Zpět na  porovnávač</a><br/>        
    </section>
        <a class="porovnej" href="https://www.martinkopulety.cz/mojePrace.html" target="_blank" >Zpět na web</a>  
</body>
</html>